build/
bin/
artifacts/
cache/
flattened/
node_modules/
deployments/localhost/
deployments/hardhat/
deployments/*/solcInputs/
*.pendingTransactions
tenderly.yaml
.env*
!.env.sample
yarn.lock
yarn-error.log
package.lock
package-lock.json
npm-debug.log
*.DS_Store
.vscode
*.iml
